body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #00698f; /* Cor azul-marinho da logo do Lua */
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 1px solid #003d5c; /* Cor azul-escura da logo do Lua */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #ccc;
}

.carrossel {
    position: relative;
    width: 80%;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.carrossel-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carrossel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s;
}

.carrossel-item.active {
    opacity: 1;
}

.carrossel-item:not(.active) {
    opacity: 0;
}

.carrossel-prev, .carrossel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00698f; /* Cor azul-marinho da logo do Lua */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.carrossel-prev:hover, .carrossel-next:hover {
    background-color: #003d5c; /* Cor azul-escura da logo do Lua */
}

.carrossel-prev {
    left: 0;
}

.carrossel-next {
    right: 0;
}

.descricao {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.descricao h1 {
    font-size: 36px;
    font-weight: bold;
    color: #00698f; /* Cor azul-marinho da logo do Lua */
}

.descricao p {
    font-size: 18px;
    color: #333;
}

.video {
    width: 80%;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}